<script type="text/javascript">
    $(".phone-screen").backstretch("https://projectmillennial.files.wordpress.com/2012/10/6944328029_ad851f454f_h2.jpg");
</script>
<div class="phone-screen">
  <div class="shadow-drop"></div>
  <h1 class="thanks-for-using">Thanks for using SiteCycle!</h1>
  <p class="try-fb-please">Try logging in with Facebook for access to these neat features.</p>
  <ul class="login-list">
    <li class="fb-pro">Save your favorite Trails</li>
    <li class="fb-pro">Leave feedback for fellow cyclists</li>
    <li class="fb-pro">Earn new badges for Trails and Milestones</li>
  </ul>
  <button class="login-button">Facebook Login</button>
</div>
